.backlog-container {
  width: 99%;
  height: auto;
  margin: 5px 10px 0;
}
.backlog-start-container {
  width: 99%;
  height: 130px;
  background-color: rgba(241, 241, 241, 0.5);
  border-radius: 5px;
  margin-top: 5px;
}
.backlog-header {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 5px;
}
.backlog-start {
  width: 49.5%;
  margin-right: 10px;
}
.backlog-start .backlog-add-container {
  display: flex;
}
.backlog-start .backlog-add-title {
  font-size: 17px;
  font-weight: 550;
  margin-right: 6px;
}
.backlog-start .backlog-add-date,
.backlog-start .backlog-add-work-items {
  width: auto;
  padding: 0 3px;
  margin-right: 3px;
  opacity: 0.8;
}

.backlog-add {
  display: flex;
  width: 49%;
}
.backlog-end {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 10px;
}
.backlog-create-button {
  width: 100px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(151, 151, 151);
  cursor: pointer;
}

.backlog-create-button:hover {
  background-color: rgba(197, 197, 197, 0.5);
}

.backlog-end .backlog-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid gray;
}
.backlog-end .backlog-icon:hover {
  background-color: rgba(197, 197, 197, 0.5);
  transition: all 0.3s ease;
}
.backlog-empty {
  width: 99%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  border: 1px dashed gray;
  border-radius: 3px;
}
.backlog-create {
  width: 99%;
  margin: 3px auto;
  display: flex;
  padding: 2px 3px;
  gap: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.backlog-create:hover {
  background-color: rgba(218, 218, 218, 0.5);
}
